---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$primary: #fed136;
$secondary: #fec503;  
$secondary-dark: #333333;

@import "_mixin";

@import "bootstrap.min";
@import "agency";