<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">工作經歷</h2>
                    <h3 class="section-subheading text-muted">
                        
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/freePerson.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008 6月</h4>
                                    <h4 class="subheading">外包接案網頁設計師</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        經手過的案子有 湘朝物語網頁設計/星勢力會員頁面設計
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sunfar.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010 3月</h4>
                                    <h4 class="subheading">順發電腦股份有限公司 活動網頁設計師</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">主要負責工作內容為活動網站及網頁設計</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/shopGo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010 8月</h4>
                                    <h4 class="subheading">立麒多媒體(購物GO) 網站設計師</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">負責網站整體架設及網站活動廣告設計</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/funk.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012 3月</h4>
                                    <h4 class="subheading">前端工程師／ funkDesiner株式會社</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        經手過的案子有 湘朝物語網頁設計/星勢力會員頁面設計
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/umall.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011 1月(仍在職)</h4>
                                    <h4 class="subheading">前端工程師／森森百貨股份有限公司</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        主要負責專案製作
                                    </p>
                                </div>
                            </div>
                        </li>
<!--                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>