<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">JobRelated skills</h2>
                    <h3 class="section-subheading text-muted">點滿及未點滿的工作相關技能。</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">程式編輯技能</h4>
                    <p class="text-muted">
                        HTML/CSS<br/>
                        Git Use / Project with github<br/>
                        CSS3 animation<br/>
                        Sass & Compass Use<br/>
                        

                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Web Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa  fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">UI Design</h4>
                    <p class="text-muted">
                        APP UI設計<br/>網站UI規劃設計
                    </p>
                </div>
            </div>
        </div>
    </section>